*{
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    
cursor: pointer;

border: none;
border-radius: 3.12rem;
background-color: red;

font-size: 1rem;
color: #fff;

width: 60%;
padding: 0.3rem;

}